@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
header {
    display: flex;
    justify-content: space-between; /*Alinhamento horizotal - round, between, evelyn*/
    align-items: center ; /*Alinhamento vertical - baseline, stretch*/
    border: 2px solid black;
    margin: 2px;
    padding: 10px;
}

header img {
    width: 200px; /*largura*/
    height: 200px; /*altura em pontos*/
    border: 1px solid black;
}

nav {
    border: 2px solid black;
    margin: 2px;
    
}

main {
    border: 2px solid black;
    margin: 2px;
}

footer {
    border: 2px solid grey;
    padding: 10px;
}